<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sem nulla pharetra diam sit amet nisl suscipit adipiscing bibendum. Arcu risus quis varius quam quisque id diam vel. Mauris augue neque gravida in fermentum et sollicitudin ac orci. Sit amet commodo nulla facilisi nullam. Ut faucibus pulvinar elementum integer enim neque volutpat ac tincidunt. Purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae. Nec feugiat nisl pretium fusce id. Metus dictum at tempor commodo ullamcorper a. Nulla aliquet porttitor lacus luctus accumsan tortor. Sociis natoque penatibus et magnis dis parturient montes. Duis tristique sollicitudin nibh sit amet. Sit amet est placerat in egestas erat imperdiet sed euismod. Vulputate mi sit amet mauris commodo quis imperdiet massa tincidunt. Et malesuada fames ac turpis egestas integer eget. Nec feugiat in fermentum posuere urna nec tincidunt praesent. Turpis cursus in hac habitasse platea dictumst quisque.</p>
    <p>Porttitor massa id neque aliquam vestibulum morbi. Nibh tortor id aliquet lectus proin. Ac orci phasellus egestas tellus rutrum tellus. Mus mauris vitae ultricies leo integer malesuada. Ultricies lacus sed turpis tincidunt id aliquet. Sed odio morbi quis commodo odio aenean sed adipiscing. Laoreet id donec ultrices tincidunt arcu non sodales. Mattis rhoncus urna neque viverra justo nec ultrices dui. Amet tellus cras adipiscing enim eu turpis. Rhoncus dolor purus non enim praesent elementum facilisis leo. Dui ut ornare lectus sit amet est. Viverra aliquet eget sit amet tellus cras. Ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia. Nulla porttitor massa id neque. Amet massa vitae tortor condimentum lacinia quis vel eros. Leo urna molestie at elementum eu facilisis sed.</p>
</body>
</html>